:root {
    --surface-0: hsl(126, 30%, 10%);
    --surface-1: hsl(125, 20%, 43%, 0.15);
    --surface-2: hsl(125, 15%, 67%, 0.1);
    --text-1: hsl(120, 10%, 95%);
    --text-2: hsl(125, 10%, 75%);
    --required: hsla(5, 80%, 60%, 0.8);
    --accent: hsl(126, 61%, 80%);
    --border: 1px solid hsl(125, 20%, 80%, 0.2);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.125rem;
    line-height: 1.6;

    /* background-color: var(--surface-0); */
    background: radial-gradient(circle at top right, #1a2e1a, #0a110a);
    color: var(--text-1);
    min-height:  100vh;

    padding-block-start: 6vb;
}

input,
button,
select {
    font: inherit;
}

form {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.info_input {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

input {
    background: var(--surface-2);
    color: var(--text-1);
    border: var(--border);
    border-radius: 16px;
    padding: 1ex 2ex;

    width: 100%;
}

h1 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1;
}

.logo {
    margin-bottom: 4rem;
    margin-left: 3rem;
}

label {
    font-size: 1rem;
}

select,
::picker(select) {
    appearance: base-select;
}

select{
    padding: 1ex 2ex;
    color: var(--text-0);
    border: var(--border);
    border-radius: 16px;
    background: var(--surface-2);
    cursor: pointer;
    transition: 0.4s
}

select:hover,
select:focus {
    background: var(--surface-0);
    color: var(--accent);
}

select::picker-icon {
    transition: 0.4s rotate;
}

select:open::picker-icon {
  rotate: 180deg;
}

::picker(select) {
  border: none;
}

option {
    display: flex;
    justify-content: flex-start;
    gap: 0.5rem;
    border: var(--border);
    /* border-radius: 16px; */
    background: var(--surface-2);
    color: var(--text-1);
    transition: 0.4s;
    padding: 1ex 2ex;
}

::picker(select) {
  border-radius: 16px;
}

option:hover,
option:focus {
  background: var(--surface-0);
  color: var(--accent);
}

option:checked {
  font-weight: bold;
}

option::checkmark {
  display: none;
}

.sign-up {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    background-color: var(--surface-1);
    padding: 3rem;
    border-radius: 24px;
    width: min(100% - 4rem, 800px);
    margin: 0 auto;
}

button {
    cursor: pointer;
    background-color: var(--surface-0);
    color: var(--text-1);
    padding: 1em 1.5em;
    border: 0;
    border-radius: 16px;
}

button:hover,
button:focus {
    background-color: hsl(from var(--accent) h s 30%);
}

.cta_description {
    font-size: 1rem;
    line-height: 1.4;
}

input:invalid {
    box-shadow: 0 0 5px 1px var(--required);
}

input:valid {
    box-shadow: 0 0 5px 1px var(--surface-0);
}

input:focus:invalid {
  box-shadow: none;
}