:root {
    --surface-0: hsl(126, 59%, 13%);
    --surface-1: hsl(125, 20%, 43%);
    --surface-2: hsl(125, 15%, 67%);
    --text-1: hsl(120, 4%, 91%);
    --text-2: hsl(0, 0%, 60%);
    --required: hsl(5, 100%, 74%);
    --accent: hsl(126, 61%, 80%);
    --border: 1px solid hsl(125, 20%, 43%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.125rem;
    line-height: 1.6;

    background-color: var(--surface-0);
    color: var(--text-1);

    padding-block-start: 10vb;
}

input,
button,
select {
    font: inherit;
}

form {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.info_input {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

input {
    background: var(--surface-2);
    color: var(--text-1);
    border: var(--border);
    border-radius: 16px;
    padding: 1ex 2ex;

    width: 100%;
}

h1 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1;
}

label {
    font-size: 1rem;
}

select,
::picker(select) {
    appearance: base-select;
}

select{
    padding: 1ex 2ex;
    color: var(--text-0);
    border: var(--border);
    border-radius: 16px;
    background: var(--surface-2);
    cursor: pointer;
    transition: 0.4s
}

select:hover,
select:focus {
    background: var(--surface-0);
    color: var(--accent);
}

select::picker-icon {
    transition: 0.4s rotate;
}

select:open::picker-icon {
  rotate: 180deg;
}

::picker(select) {
  border: none;
}

option {
    display: flex;
    justify-content: flex-start;
    gap: 0.5rem;
    border: var(--border);
    /* border-radius: 16px; */
    background: var(--surface-2);
    color: var(--text-1);
    transition: 0.4s;
    padding: 1ex 2ex;
}

::picker(select) {
  border-radius: 16px;
}

option:hover,
option:focus {
  background: var(--surface-0);
  color: var(--accent);
}

option:checked {
  font-weight: bold;
}

option::checkmark {
  display: none;
}

.sign-up {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    background-color: var(--surface-1);
    padding: 3rem;
    border-radius: 24px;
    width: min(100% - 4rem, 800px);
    margin: 0 auto;
}

button {
    cursor: pointer;
    background-color: var(--surface-0);
    color: var(--text-1);
    padding: 1em 1.5em;
    border: 0;
    border-radius: 16px;
}

button:hover,
button:focus {
    background-color: hsl(from var(--accent) h s 30%);
}

.cta_description {
    font-size: 1rem;
    line-height: 1.4;
}