* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #98A869;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    line-height: 1.3;
    padding: 0.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    align-self: flex-start;
    margin-left: 24px;
}

form {
    position: relative;
    width: 740px;
    height: 498px;
    margin: 0 auto;
    padding: 1em;
    background-color: #DFE4D1;

    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

button,
input,
select {
    font-family: inherit;
    font-size: 100%;

    width: 150px;
}

button {
    padding: 5px;
    font-weight: 700;
    border-radius: 5px;
    background-color: none;
    cursor: pointer;
}

button:hover,
button:focus {
    background-color: #98A869;
    color: #fefefe;
}