:root {
    --surface-0: hsl(126, 59%, 13%);
    --surface-1: hsl(125, 20%, 43%);
    --surface-2: hsl(125, 15%, 67%);
    --text-1: hsl(120, 4%, 91%);
    --text-2: hsl(0, 0%, 60%);
    --required: hsl(5, 100%, 74%);
    --accent: hsl(126, 61%, 80%);
    --border: 1px solid hsl(125, 20%, 43%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.125rem;
    line-height: 1.6;

    background-color: var(--surface-0);
    color: var(--text-1);

    padding-block-start: 10vb;
}

input,
button,
select {
    font: inherit;
}

form {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.info_input {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

input {
    background: var(--surface-2);
    color: var(--text-1);
    border: var(--border);
    border-radius: 16px;
    padding: 1ex 2ex;

    width: 100%;
}

h1 {
    font-size: 4rem;
    font-weight: 300;
    line-height: 1;
}

label {
    font-size: 1rem;
}

.sign-up {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    background-color: var(--surface-1);
    padding: 3rem;
    border-radius: 24px;
    width: min(100% - 4rem, 1200px);
    margin: 0 auto;
}

button {
    cursor: pointer;
    background-color: var(--surface-0);
    color: var(--text-1);
    padding: 1em 1.5em;
    border: 0;
    border-radius: 16px;
}

button:hover,
button:focus {
    background-color: hsl(from var(--accent) h s 30%);
}

.cta_description {
    font-size: 1rem;
    line-height: 1.4;
}